################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/examples/msaccess/lib
/examples/msaccess/LocalTest.accdb
/source/Tests/msaccess-files/lib
/access-add-in/lib
/access-add-in/*.accdb
/access-add-in/Tests
*.laccdb
/excel-add-in/lib
*.zip
