################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/examples/msaccess/lib
/source/Tests/msaccess-files/lib
/access-add-in/lib
/examples/msaccess/LocalTest.accdb
/access-add-in/LocalTest.accdb
*.laccdb
