<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccessCodeLib.AccUnit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AccessCodeLib.AccUnit.Properties.Settings>
            <setting name="SeparatorMaxLength" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SeparatorChar" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="ImportExportFolder" serializeAs="String">
                <value>%APPFOLDER%\Tests\%APPNAME%</value>
            </setting>
            <setting name="TemplateFolder" serializeAs="String">
                <value>%APPDATA%\AccessCodeLib\AccUnit\Templates</value>
            </setting>
            <setting name="TestMethodTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="TestClassNameFormat" serializeAs="String">
                <value />
            </setting>
        </AccessCodeLib.AccUnit.Properties.Settings>
    </userSettings>
</configuration>