<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccessCodeLib.AccUnit.VbeAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AccessCodeLib.AccUnit.VbeAddIn.Properties.Settings>
            <setting name="CommandbarPosition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CommandbarTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CommandbarLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CommandbarRowIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CommandbarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestListVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestoreVbeWindowsStateOnLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestClassNameFormat" serializeAs="String">
                <value>%ModuleUnderTest%Tests</value>
            </setting>
            <setting name="BuildTestMethodsWithChatGPT" serializeAs="String">
                <value>False</value>
            </setting>
        </AccessCodeLib.AccUnit.VbeAddIn.Properties.Settings>
    </userSettings>
</configuration>