<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.10.40170" targetFramework="net48" />
  <package id="stdole" version="7.0.3303" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="ThammimTech.Microsoft.Vbe.Interop" version="15.0.0" targetFramework="net48" />
</packages>